<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903789705778-se9d97cvp38271ep7ugp1us2ihdjsk4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903789705778-se9d97cvp38271ep7ugp1us2ihdjsk4g</string>
	<key>API_KEY</key>
	<string>AIzaSyAxXMXzi5bh1jKW4Hvdjm_FEv3JGJowW44</string>
	<key>GCM_SENDER_ID</key>
	<string>903789705778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hashMicroTest</string>
	<key>PROJECT_ID</key>
	<string>hashmicro-test</string>
	<key>STORAGE_BUCKET</key>
	<string>hashmicro-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903789705778:ios:dfccfe187b47299d0eda2b</string>
</dict>
</plist>